<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Technoguyfication.IMGEditor.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Technoguyfication.IMGEditor.GUI.Properties.Settings>
            <setting name="openFileLastDirectory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="fileListViewMode" serializeAs="String">
                <value>Details</value>
            </setting>
            <setting name="fileListSortOrder" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="fileListSortMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileListNameColumnWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="fileListSizeColumnWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="fileListOffsetColumnWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="openFileFilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="extractFileLastDirectory" serializeAs="String">
                <value>.</value>
            </setting>
        </Technoguyfication.IMGEditor.GUI.Properties.Settings>
    </userSettings>
</configuration>